{% extends "jinja_templates/report_full/base.html" %}

{% block metahub %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .header img {
    float: left;
    width: 200px;
    height: 200px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  
  </style>
  <div class="header">
    <img src="https://github.com/gabrielsoltz/metahub/blob/main/metahub.png?raw=true" alt="metahub-logo" />
    <h1>MetaHub - HTML Report</h1>
    <!-- <li class="list-group-item">
      <b>Security Hub filters:</b> {'SeverityLabel': [{'Comparison': 'EQUALS', 'Value': 'HIGH'}], 'RecordState': [{'Comparison': 'EQUALS', 'Value': 'ACTIVE'}], 'WorkflowStatus': [{'Comparison': 'EQUALS', 'Value': 'NEW'}]}   
    </li>
    <li class="list-group-item">
      <b>MetaChecks filters:</b> {'SeverityLabel': [{'Comparison': 'EQUALS', 'Value': 'HIGH'}], 'RecordState': [{'Comparison': 'EQUALS', 'Value': 'ACTIVE'}], 'WorkflowStatus': [{'Comparison': 'EQUALS', 'Value': 'NEW'}]} <br>
    </li>
    <li class="list-group-item">
      <b>MetaTags filters:</b> {'SeverityLabel': [{'Comparison': 'EQUALS', 'Value': 'HIGH'}], 'RecordState': [{'Comparison': 'EQUALS', 'Value': 'ACTIVE'}], 'WorkflowStatus': [{'Comparison': 'EQUALS', 'Value': 'NEW'}]} <br>
    </li> -->
  </div>
{% endblock %}

{% block charts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Severity', 'Count'],
      {% for severity, count in statistics.SeverityLabel.items() %}
        ["{{ severity }}", {{ count }}],
      {% endfor %}
    ]);
    var options = {
      title: 'Severities'
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechartseverity'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['AwsAccountId', 'Count'],
      {% for account, count in statistics.AwsAccountId.items() %}
        ["{{ account }}", {{ count }}],
      {% endfor %}
    ]);
    var options = {
      title: 'Accounts'
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
</script>
<div class="row">
  <div class="column">
    <div id="piechartseverity" style="width: 900px; height: 500px;"></div>
  </div>
  <div class="column">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </div>
</div>
{% endblock %}

{% block cards %}
  <style>
    * {
    box-sizing: border-box;
    }
    body {
    font-family: Arial, Helvetica, sans-serif;
    }
    /* Float four columns side by side */
    .column {
    float: left;
    padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    /* Responsive columns */
    @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
    }
    /* Style the counter cards */
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
    }
  </style>
  <div class="row">
    <div class="column">
        <div class="card" style="width: 200px; height: 100px; background-color:#f44336">
        <h1>{{ statistics.SeverityLabel.CRITICAL }}</h1>
      </div>
    </div>
    <div class="column">
        <div class="card" style="width: 200px; height: 100px; background-color:#f44336">
          <h1>{{ statistics.SeverityLabel.HIGH }}</h1>
      </div>
    </div>
    <div class="column">
        <div class="card" style="width: 200px; height: 100px; background-color:#ff9800">
          <h1>{{ statistics.SeverityLabel.MEDIUM }}</h1>
      </div>
    </div>
    <div class="column">
        <div class="card" style="width: 200px; height: 100px; background-color:#2196F3">
          <h1>{{ statistics.SeverityLabel.LOW }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block table %}
<div id="example-table"></div>
<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>

//define column header menu as column visibility toggle
var headerMenu = function(){
    var menu = [];
    var columns = this.getColumns();

    for(let column of columns){

        //create checkbox element using font awesome icons
        let icon = document.createElement("i");
        icon.classList.add("fa");
        icon.classList.add(column.isVisible() ? "fa-check-square" : "fa-square");

        //build label
        let label = document.createElement("span");
        let title = document.createElement("span");

        title.textContent = " " + column.getDefinition().title;

        label.appendChild(icon);
        label.appendChild(title);

        //create menu item
        menu.push({
            label:label,
            action:function(e){
                //prevent menu closing
                e.stopPropagation();

                //toggle current column visibility
                column.toggle();

                //change menu item icon
                if(column.isVisible()){
                    icon.classList.remove("fa-square");
                    icon.classList.add("fa-check-square");
                }else{
                    icon.classList.remove("fa-check-square");
                    icon.classList.add("fa-square");
                }
            }
        });
    }

   return menu;
};

var tableData = [
      {% for resource, resource_value in data.items() %}
       {% for finding in resource_value.findings %} 
        {% for finding_name, finding_values in finding.items() %}
          {
              ARN: '{{ resource }}',
              AwsAccountId: '{{ resource_value.AwsAccountId }}',
              Region: '{{ resource_value.Region }}',
              ResourceType: '{{ resource_value.ResourceType }}',
              Severity: '{{ finding_values.SeverityLabel }}',
              Finding: '{{ finding_name }}',
              {% if 'metatags' in resource_value %}
                {% for metatags_column in metatags_columns %}
                  {{ metatags_column }}: '{{ resource_value.metatags[metatags_column] }}',
                {% endfor %}
              {% endif %}
              {% if 'metachecks' in resource_value %}
                {% for metachecks_column in metachecks_columns %}
                  {{ metachecks_column }}: '{{ resource_value.metachecks[metachecks_column] }}',
                {% endfor %}
              {% endif %}
          },
          {% endfor %}
        {% endfor %}
      {% endfor %}
]


//initialize table
var table = new Tabulator("#example-table", {
    data:tableData, 
    layout:"fitColumns",
    pagination:true, 
    paginationSize:25,
    groupBy:"ARN",
    columns:[
        {title:"ARN", field:"ARN", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"AwsAccountId", field:"AwsAccountId", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"Region", field:"Region", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"ResourceType", field:"ResourceType", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"Severity", field:"Severity", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title:"Finding", field:"Finding", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
        {title: "MetaTags", field: "MetaTags", columns: [
          {% for metatags_column in metatags_columns %}
              { title: "{{metatags_column}}", field: "{{metatags_column}}", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
          {% endfor %}
          ]},
        {title: "MetaChecks", field: "MetaChecks", columns: [
          {% for metachecks_column in metachecks_columns %}
            { title: "{{metachecks_column}}", field: "{{metachecks_column}}", headerMenu:headerMenu, headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true}},
          {% endfor %}
        ]},
    ],
});
</script>
{% endblock %}

